<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoutubeDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YoutubeDownloader.Properties.Settings>
            <setting name="ShowVideoCodec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowVideoFileExtension" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowResolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVideoID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDynamicRange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAudioCodec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAudioID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowASR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNumberOfAudioChannels" serializeAs="String">
                <value>True</value>
            </setting>
        </YoutubeDownloader.Properties.Settings>
    </userSettings>
</configuration>